In [19]:
import pandas as pd

url="./Phishing.csv"
df=pd.read_csv(url)

In [30]:
# Change result instances of -1 to 0
#df['Result'].values[df['Result'].values < 0] = 0

# Change all instances of -1 to 0
df.values[df.values < 0] = 0

In [27]:
# Get Row with a missing value
null_data = df[df.isnull().any(axis=1)]
null_data

Empty DataFrame
Columns: [having_IP_Address, URL_Length, Shortining_Service, having_At_Symbol, double_slash_redirecting, Prefix_Suffix, having_Sub_Domain, SSLfinal_State, Domain_registeration_length, Favicon, port, HTTPS_token, Request_URL, URL_of_Anchor, Links_in_tags, SFH, Submitting_to_email, Abnormal_URL, Redirect, on_mouseover, RightClick, popUpWidnow, Iframe, age_of_domain, DNSRecord, web_traffic, Page_Rank, Google_Index, Links_pointing_to_page, Statistical_report, Result]
Index: []

[0 rows x 31 columns]

In [35]:
from sklearn.impute import SimpleImputer

# Use mean value for any nan values
df.fillna(df.mean(), inplace=True)

In [49]:
from sklearn.model_selection import train_test_split

# split data up into training and test data
train, test = train_test_split(df, shuffle=True, random_state=42)

In [51]:
# Print training data
train.T.head()

,1144,4030,3848,2273,4100,5196,8882,8832,7733,1989,...,8322,5578,4426,466,6265,5734,5191,5390,860,7270
having_IP_Address,0,1,1,0,1,0,0,1,0,1,...,0,0,1,1,1,0,1,0,1,0
URL_Length,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,1
Shortining_Service,0,1,1,0,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
having_At_Symbol,1,1,1,1,1,0,0,1,1,1,...,0,1,1,1,1,1,0,0,1,1
double_slash_redirecting,0,0,1,0,1,0,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1

In [52]:
# Print test data
test.T.head()

,10582,7533,10806,2992,8940,9054,304,9644,5034,1470,...,1047,6794,8892,2320,5728,3859,4147,4722,766,10972
having_IP_Address,0,0,0,1,1,1,1,1,1,1,...,1,0,1,0,1,1,1,0,1,0
URL_Length,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
Shortining_Service,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,0,1,1
having_At_Symbol,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
double_slash_redirecting,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,0,1,1